h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flex {
  display: flex;
}
.center {
	text-align: center;
}
.centerV {
  margin: auto
}
.usersDiv table {
	align-self: flex-start; 
	border-collapse: collapse;
	border: 1px solid black;
	margin-right: 20px;
}
.postsDiv {
	align-self: flex-start;
	width: 100%
}
.postsDiv table {
	width: 100%
}
.usersDiv table td{
	border: 1px solid black;
	padding: 10px;
}
.selected {
	background: lightgrey;
}